Social media Generation (1).json
{
  "name": "Social media Generation",
  "nodes": [
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "a2372b446bcb41479b815f75d53585e7"
            },
            {
              "name": "=q",
              "value": "={{ $json.keywords }}"
            },
            {
              "name": "=language",
              "value": "={{ $json.language }}"
            },
            {
              "name": "sortBy",
              "value": "=publishedAt"
            },
            {
              "name": "=pageSize",
              "value": "={{ $json.maxResults }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        -304
      ],
      "id": "a7020b1c-9f12-4445-8c43-87089129d677",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        192,
        -304
      ],
      "id": "4e5359bc-0248-4564-b61c-c84a1ca3c77e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior enterprise architect and content strategist at a B2B SaaS company focused on AI, automation, and system integration.\n\nYou think like a CTO responsible for designing and scaling complex enterprise systems.\n\nYou are not impressed by surface-level innovation. You focus on:\n- system integration challenges\n- data flow across systems\n- architectural trade-offs\n- operational complexity at scale\n\nYou naturally question hype and look for what will break in real-world implementation.\n\n---\n\nINPUT:\n\nARTICLE:\n{{ $json.original.article.slice(0, 3000) }}\n\nSOURCE:\n{{ $json.original.source }}\n\nSOURCE URL:\n{{ $json.original.sourceUrl }}\n\nENGAGEMENT:\nLikes: {{ $json.original.engagement.likes }}\nShares: {{ $json.original.engagement.shares }}\nComments: {{ $json.original.engagement.comments }}\n\nTREND SCORE:\n{{ $json.original.trendScore }}\n\nPLATFORM:\n{{ $json.original.source }}\n\nTIMESTAMP:\n{{ $json.original.collectedTimestamp }}\n\n---\n\nTHINKING FRAMEWORK:\n\nBefore generating output, analyze the article through this lens:\n\n1. What underlying system or architectural shift is happening?\n2. What integration challenges does this introduce?\n3. How does this affect enterprise workflows or data movement?\n4. What hidden complexity or risk is not explicitly stated?\n\nYour output must reflect this deeper reasoning, not surface-level observations.\n\n---\n\nCRITICALITY REQUIREMENT:\n\nEach variant MUST include at least one of the following:\n- a flawed assumption enterprises are making\n- a risk or failure scenario\n- a hidden complexity that is being ignored\n\nIf the output does not challenge something, it is invalid.\n\n---\n\nTASK:\n\nGenerate EXACTLY 3 DISTINCT VARIANTS.\n\nEach variant must include:\n\n- trend\n- insight\n- opinion\n- question\n\n---\n\nSTRICT RULES:\n\nTrend:\n- Must describe a structural shift in how systems are designed, integrated, or operated\n- Should reflect a change in architecture, not just technology adoption\n- Avoid descriptive phrasing — focus on systemic transformation\n\nInsight:\n- Must explain the downstream impact on system design, integration patterns, or operational reliability\n- Must highlight what becomes harder, not just what becomes possible\n\nOpinion:\n- Must take a clear, non-neutral stance\n- Explicitly call out what enterprises are underestimating or getting wrong\n- Should highlight trade-offs, risks, or architectural consequences\n- Avoid safe or agreeable recommendations\n\nQuestion:\n- Should provoke discussion among senior professionals\n- Must focus on architecture, integration, governance, or operational challenges\n\n---\n\nPERSPECTIVE & TONE:\n\n- Always interpret from an enterprise integration and architecture lens\n- Focus on second-order effects (what changes because of this trend)\n- Write like an experienced architect reviewing a system design\n- Be analytical, direct, and slightly critical\n- Avoid motivational, inspirational, or generic language\n\nAssume the reader is a CTO or enterprise architect.\nDo NOT explain basic concepts.\n\n---\n\nLANGUAGE CONSTRAINTS:\n\nDO NOT:\n- summarize the article\n- copy sentences\n- use generic phrases like:\n  \"this highlights\", \"this suggests\", \"this indicates\"\n  \"growing trend\", \"important\", \"game changer\"\n\nPrefer:\n- direct, assertive statements\n- clear architectural reasoning\n\n---\n\nOUTPUT FORMAT (STRICT JSON ONLY):\n\nReturn ONLY valid JSON.\n\n{\n  \"variants\": [\n    {\n      \"trend\": \"...\",\n      \"insight\": \"...\",\n      \"opinion\": \"...\",\n      \"question\": \"...\",\n\n      \"source\": \"{{ $json.original.source }}\",\n      \"sourceUrl\": \"{{ $json.original.sourceUrl }}\",\n\n      \"createdAt\": \"{{ $json.original.collectedTimestamp }}\",\n\n      \"engagementLikes\": {{ $json.original.engagement.likes }},\n      \"engagementShares\": {{ $json.original.engagement.shares }},\n      \"engagementComments\": {{ $json.original.engagement.comments }},\n\n      \"trendScore\": {{ $json.original.trendScore }},\n\n      \"platform\": \"{{ $json.original.source }}\",\n\n      \"status\": \"Pending\"\n    }\n  ]\n}\n\nEnsure the JSON is complete, properly closed, and valid.\nNo truncation.\nNo trailing commas.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        112
      ],
      "id": "4e783739-1aea-45c0-9ae2-62d0478173e4",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        -304
      ],
      "id": "52767f61-e34e-4c91-a982-dbb92e9b5fec",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        272
      ],
      "id": "d518eb90-29f2-4a9d-805c-60305afabe95",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Hf958taBNaC6Muu1",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"variants\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"trend\": { \"type\": \"string\" },\n          \"insight\": { \"type\": \"string\" },\n          \"opinion\": { \"type\": \"string\" },\n          \"question\": { \"type\": \"string\" },\n\n          \"source\": { \"type\": \"string\" },\n          \"sourceUrl\": { \"type\": \"string\" },\n\n          \"createdAt\": { \"type\": \"string\" },\n\n          \"engagementLikes\": { \"type\": \"number\" },\n          \"engagementShares\": { \"type\": \"number\" },\n          \"engagementComments\": { \"type\": \"number\" },\n\n          \"trendScore\": { \"type\": \"number\" },\n\n          \"platform\": { \"type\": \"string\" },\n          \"status\": { \"type\": \"string\" }\n        },\n        \"required\": [\n          \"trend\",\n          \"insight\",\n          \"opinion\",\n          \"question\",\n          \"source\",\n          \"sourceUrl\",\n          \"createdAt\",\n          \"engagementLikes\",\n          \"engagementShares\",\n          \"engagementComments\",\n          \"trendScore\",\n          \"platform\",\n          \"status\"\n        ]\n      }\n    }\n  },\n  \"required\": [\"variants\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        736,
        304
      ],
      "id": "229491c8-d8bc-43ec-83d3-fc2407432213",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NkuU81N40RM2MqSywbxRD2Sus0tXn0yKB-cISeZCDXQ",
          "mode": "list",
          "cachedResultName": "RT-001 drafts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NkuU81N40RM2MqSywbxRD2Sus0tXn0yKB-cISeZCDXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NkuU81N40RM2MqSywbxRD2Sus0tXn0yKB-cISeZCDXQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "trend",
              "displayName": "trend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sourceUrl",
              "displayName": "sourceUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "insight",
              "displayName": "insight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opinion",
              "displayName": "opinion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "engagementLikes",
              "displayName": "engagementLikes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "engagementShares",
              "displayName": "engagementShares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "engagementComments",
              "displayName": "engagementComments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "trendScore",
              "displayName": "trendScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviewNotes",
              "displayName": "reviewNotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "approvedAt",
              "displayName": "approvedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "documentId",
              "displayName": "documentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "documentLink",
              "displayName": "documentLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "draftStatus",
              "displayName": "draftStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        112
      ],
      "id": "e2e8ed0d-c33f-4f73-a1ed-0df5735114d6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kR0H5sTD8ao5eflV",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const keywords = [\"ai\", \"automation\", \"integration\", \"saas\"];\n\nreturn items.filter(item => {\n  const text = (item.json.article || \"\").toLowerCase();\n\n  return keywords.some(keyword => text.includes(keyword));\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -304
      ],
      "id": "2e5c4c64-58c1-4e95-b0c2-2f80e173110d",
      "name": "Filter Relevant Trends"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\n\nreturn items.filter(item => {\n  const title = item.json.article.slice(0, 100); \n\n  if (seen.has(title)) {\n    return false;\n  }\n\n  seen.add(title);\n  return true;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -304
      ],
      "id": "b5cb0ca7-2392-48e8-b8af-09b9629b66ad",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const e = item.json.engagement;\n\n  // Simple scoring formula\n  const score = (e.likes * 1) + (e.shares * 2) + (e.comments * 3);\n\n  return {\n    json: {\n      ...item.json,\n      trendScore: score\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -304
      ],
      "id": "d41eae0d-8555-404e-be51-af3cca6d450d",
      "name": "Score Trending Strength"
    },
    {
      "parameters": {
        "jsCode": "return items.slice(0, 10).map(item => {\n  const data = item.json;\n\n  const title = data.title || \"\";\n  const description = data.description || \"\";\n  const content = data.content || \"\";\n\n  const fullText = `${title}. ${description}. ${content}`;\n\n  return {\n    json: {\n     \n      article: fullText,\n\n     \n      source:\n        typeof data.source === \"object\"\n          ? data.source.name\n          : data.source || \"Unknown\",\n\n      sourceUrl: data.url || \"\",\n\n      author: data.author || \"Unknown\",\n      authorRole: \"Unknown\", \n\n  \n      topicTags: [\"AI\", \"Automation\", \"Integration\"],\n\n     \n      engagement: {\n        likes: Math.floor(Math.random() * 500),\n        shares: Math.floor(Math.random() * 200),\n        comments: Math.floor(Math.random() * 100)\n      },\n\n     \n      trendingComments: [\n        \"This could reshape enterprise workflows\",\n        \"Integration is becoming the real bottleneck\",\n        \"AI without orchestration is useless\"\n      ],\n\n     \n      image: data.urlToImage || \"\",\n\n     \n      collectedTimestamp: new Date().toISOString()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -304
      ],
      "id": "1f3c204d-6983-4e4e-b744-a609cc1717a4",
      "name": "Code (Clean + Metadata)"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const root = item.json;\n  \n  \n  const variants = root.variants || root.output?.variants || [];\n  \n  if (variants.length === 0) return item; \n\n  \n  const bestVariant = [...variants].sort((a, b) => \n    (b.trendScore || 0) - (a.trendScore || 0)\n  )[0];\n\n  \n  return {\n    json: {\n      ...root,\n      ...bestVariant,\n      \n      variants: undefined \n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        112
      ],
      "id": "5784deeb-bb97-4950-8962-4e9bc316d5d8",
      "name": "Select Best Variant"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  const root = item.json;\n\n \n  const variants =\n    root.variants ||\n    root.output?.variants ||\n    [];\n\n  const strongVariants = variants.filter(v => {\n    if (!v.insight || v.insight.length < 50) return false;\n\n    const text = ((v.insight || \"\") + (v.opinion || \"\")).toLowerCase();\n\n    const banned = [\"important\", \"growing trend\", \"significant\"];\n    if (banned.some(word => text.includes(word))) return false;\n\n    return true;\n  });\n\n  return {\n    json: {\n      ...root,\n\n    \n      variants: strongVariants.length > 0 ? strongVariants : variants\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        112
      ],
      "id": "ee5b08e0-6260-4961-bbe4-05e86cdbefca",
      "name": "Filter Weak Variants"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      trend: item.json.trend || \"\",\n      source: item.json.source || \"Unknown\",\n      sourceUrl: item.json.sourceUrl || \"\",\n\n      insight: item.json.insight || \"\",\n      opinion: item.json.opinion || \"\",\n      question: item.json.question || \"\",\n\n      createdAt: item.json.createdAt || \"\",\n\n      engagementLikes: item.json.engagementLikes || 0,\n      engagementShares: item.json.engagementShares || 0,\n      engagementComments: item.json.engagementComments || 0,\n\n      trendScore: item.json.trendScore || 0,\n      platform: item.json.platform || item.json.source || \"Unknown\",\n\n      reviewNotes: \"\",\n\n      // Guide reviews trend\n      status: \"Pending\",\n\n      // Draft not yet generated\n      draftStatus: \"NotCreated\",\n\n     \n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        112
      ],
      "id": "2f526679-9f3d-4745-9c9a-a51b399f1380",
      "name": "Code (format for sheet)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      ...item.json,\n      original: { ...item.json }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        112
      ],
      "id": "3491f790-bcaa-43b3-aad9-82663adeeb4c",
      "name": "Preserve Original"
    },
    {
      "parameters": {
        "jsCode": "return items\n  .sort((a, b) => b.json.trendScore - a.json.trendScore)\n  .slice(0, 2);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -304
      ],
      "id": "b9f8fd44-1725-4667-82cc-b003d16aab9e",
      "name": "Select Top Trends"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        560
      ],
      "id": "6d0bf076-40dd-4c6d-88f8-bf437bd6cb0b",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NkuU81N40RM2MqSywbxRD2Sus0tXn0yKB-cISeZCDXQ",
          "mode": "list",
          "cachedResultName": "RT-001 drafts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NkuU81N40RM2MqSywbxRD2Sus0tXn0yKB-cISeZCDXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NkuU81N40RM2MqSywbxRD2Sus0tXn0yKB-cISeZCDXQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "Approved"
            },
            {
              "lookupColumn": "draftStatus",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        560
      ],
      "id": "c9c8a30c-78d5-49f7-907e-5e5e008213dd",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kR0H5sTD8ao5eflV",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [items[0]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        560
      ],
      "id": "f064b5ab-e74f-453d-ab6c-d0566dc245cb",
      "name": "Pick One Trend"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strategic AI content analyst.\n\nAnalyze the given trend and repurpose it into a business-aligned strategic content direction.\n\nDO NOT directly mention any product names or company names.\n\nInstead:\n- infer possible enterprise solutions\n- identify operational pain points\n- identify innovation opportunities\n- identify transformation opportunities\n- identify automation or AI adoption possibilities\n\nReturn output ONLY in valid JSON format.\n\nRequired JSON structure:\n\n{\n  \"strategicAngle\": \"\",\n  \"businessOpportunity\": \"\",\n  \"operationalChallenge\": \"\",\n  \"innovationInsight\": \"\",\n  \"enterpriseRecommendation\": \"\",\n  \"linkedinPost\": \"\",\n  \"twitterPost\": \"\",\n  \"executiveHook\": \"\"\n}\n\nTrend:\n{{ $json.trend }}\n\nInsight:\n{{ $json.insight }}\n\nOpinion:\n{{ $json.opinion }}\n\nQuestion:\n{{ $json.question }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        272,
        560
      ],
      "id": "318c70f0-f938-4a18-af10-c09b471ad23d",
      "name": "Repurpose Trend",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        832
      ],
      "id": "d781e2cb-994c-4eb9-a287-acbcb4ede023",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Hf958taBNaC6Muu1",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"strategicAngle\": \"Short strategic interpretation\",\n  \"businessOpportunity\": \"Business opportunity from this trend\",\n  \"operationalChallenge\": \"Main operational challenge\",\n  \"innovationInsight\": \"Key innovation insight\",\n  \"enterpriseRecommendation\": \"Recommended enterprise action\",\n  \"linkedinPost\": \"Professional LinkedIn post\",\n  \"twitterPost\": \"Short Twitter/X post\",\n  \"executiveHook\": \"Short executive hook\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        464,
        832
      ],
      "id": "abf31abe-0211-4221-89cc-7d7f95c7fb2c",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "folderId": "=default",
        "title": "={{ \"Trend Draft - \" + $now }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        640,
        560
      ],
      "id": "f8337201-0db4-4f5c-b5db-1990bb2794b8",
      "name": "Docs – Create Draft Document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Fkd031kqtyDy8T87",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Docs – Create Draft Document').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "locationChoice": "location",
              "text": "=STRATEGIC ANGLE\n\n{{ $('Repurpose Trend').item.json.output.strategicAngle }}\n\nBUSINESS OPPORTUNITY\n\n{{ $('Repurpose Trend').item.json.output.businessOpportunity }}\n\nOPERATIONAL CHALLENGE\n\n{{ $('Repurpose Trend').item.json.output.operationalChallenge }}\n\nINNOVATION INSIGHT\n\n{{ $('Repurpose Trend').item.json.output.innovationInsight }}\n\nENTERPRISE RECOMMENDATION\n\n{{ $('Repurpose Trend').item.json.output.enterpriseRecommendation }}\n\nLINKEDIN POST\n\n{{ $('Repurpose Trend').item.json.output.linkedinPost }}\n\nTWITTER POST\n\n{{ $('Repurpose Trend').item.json.output.twitterPost }}\n\nEXECUTIVE HOOK\n\n{{ $('Repurpose Trend').item.json.output.executiveHook }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        880,
        560
      ],
      "id": "194db21f-8d6b-4147-b615-e2f0b47f1176",
      "name": "Docs – Insert Generated Content",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Fkd031kqtyDy8T87",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NkuU81N40RM2MqSywbxRD2Sus0tXn0yKB-cISeZCDXQ",
          "mode": "list",
          "cachedResultName": "RT-001 drafts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NkuU81N40RM2MqSywbxRD2Sus0tXn0yKB-cISeZCDXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NkuU81N40RM2MqSywbxRD2Sus0tXn0yKB-cISeZCDXQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "trend": "={{ $('Pick One Trend').item.json.trend }}",
            "documentId": "={{ $('Docs – Create Draft Document').item.json.id }}",
            "documentLink": "={{ 'https://docs.google.com/document/d/' + $('Docs – Create Draft Document').item.json.id + '/edit' }}",
            "status": "={{ $('Get row(s) in sheet').item.json.status }}"
          },
          "matchingColumns": [
            "trend"
          ],
          "schema": [
            {
              "id": "trend",
              "displayName": "trend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sourceUrl",
              "displayName": "sourceUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "insight",
              "displayName": "insight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "opinion",
              "displayName": "opinion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engagementLikes",
              "displayName": "engagementLikes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engagementShares",
              "displayName": "engagementShares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engagementComments",
              "displayName": "engagementComments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "trendScore",
              "displayName": "trendScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reviewNotes",
              "displayName": "reviewNotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approvedAt",
              "displayName": "approvedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "documentId",
              "displayName": "documentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "documentLink",
              "displayName": "documentLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "draftStatus",
              "displayName": "draftStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        560
      ],
      "id": "cab01ec3-6c60-47c8-a27f-c5605ff722b1",
      "name": "Sheets – Save Draft Metadata",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kR0H5sTD8ao5eflV",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "bharat@jivrus.com",
        "subject": "=New Post - Ready for Review - {{ $json.trend }}",
        "message": "=Hi there,\n\n<b>Trend:</b> {{ $('Pick One Trend').item.json.trend }}\n\n<b>Source:</b> {{ $('Pick One Trend').item.json.source }}\n\n<b>Trend Score:</b> {{ $('Pick One Trend').item.json.trendScore }}\n\n<b>Status:</b> Draft Ready For Review\n\n<br><br>\n\nView Document:\n\nhttps://docs.google.com/document/d/{{ $('Docs – Create Draft Document').item.json.id }}/edit\n\n<br><br>\n\nPlease review the draft and choose one option:\n\n✓ Approve\n- Content is approved and ready for publishing\n\n✗ Decline\n- Content requires revision before publishing\n\n<br><br>\n\nThanks,\n<br>\nSocial Media Automation System",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        560
      ],
      "id": "fda960c2-13c2-4be4-a231-4fd557126e6c",
      "name": "Approval – Send Review Email",
      "webhookId": "4fd91eea-e872-488d-b037-4939c5181f61",
      "credentials": {
        "gmailOAuth2": {
          "id": "nKYHMUKW5ELeIhiH",
          "name": "Gmail account 12"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NkuU81N40RM2MqSywbxRD2Sus0tXn0yKB-cISeZCDXQ",
          "mode": "list",
          "cachedResultName": "RT-001 drafts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NkuU81N40RM2MqSywbxRD2Sus0tXn0yKB-cISeZCDXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NkuU81N40RM2MqSywbxRD2Sus0tXn0yKB-cISeZCDXQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "trend": "={{ $('Sheets – Save Draft Metadata').item.json.trend }}",
            "status": "={{ $('Sheets – Save Draft Metadata').item.json.status }}",
            "approvedAt": "={{ new Date().toISOString() }}",
            "draftStatus": "={{ $json.data.approved ? 'Approved' : 'Rejected' }}"
          },
          "matchingColumns": [
            "trend"
          ],
          "schema": [
            {
              "id": "trend",
              "displayName": "trend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sourceUrl",
              "displayName": "sourceUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "insight",
              "displayName": "insight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "opinion",
              "displayName": "opinion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engagementLikes",
              "displayName": "engagementLikes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engagementShares",
              "displayName": "engagementShares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engagementComments",
              "displayName": "engagementComments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "trendScore",
              "displayName": "trendScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reviewNotes",
              "displayName": "reviewNotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approvedAt",
              "displayName": "approvedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "documentId",
              "displayName": "documentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "documentLink",
              "displayName": "documentLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "draftStatus",
              "displayName": "draftStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        560
      ],
      "id": "bc866089-dfe8-4230-bd3a-cfec7d717751",
      "name": "Sheets – Update Approval Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kR0H5sTD8ao5eflV",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eba5e19c-8ee2-44d3-ba7b-208f65d2c40f",
              "name": "niche",
              "value": "\"AI Automation\"",
              "type": "string"
            },
            {
              "id": "48f0baf8-1e57-4049-aa2d-d217aa778809",
              "name": "keywords",
              "value": "\"(\\\"agentic AI\\\" OR \\\"AI agents\\\" OR \\\"workflow automation\\\")\"",
              "type": "string"
            },
            {
              "id": "1831fd2f-9674-405b-8b8f-ef7595df0f76",
              "name": "language",
              "value": "en",
              "type": "string"
            },
            {
              "id": "e6863cec-929a-4527-9adf-906bafafdeb0",
              "name": "region",
              "value": "US",
              "type": "string"
            },
            {
              "id": "88e575d4-f1dd-4810-aa28-a6d035695e7c",
              "name": "maxResults",
              "value": 20,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -304
      ],
      "id": "75005c61-0600-4424-9db0-d598b9d31119",
      "name": "Configure Your Niche"
    },
    {
      "parameters": {
        "content": "# RT-001 Social Media Trend Generation Workflow\n\nThis workflow automatically:\n\n1. Fetches industry-specific news and trends\n2. Scores and filters trending topics\n3. Generates social media post drafts using AI\n4. Creates Google Docs drafts\n5. Sends drafts for review and approval\n6. Tracks approval status and draft creation status in Google Sheets\n\n## Target Users\n\n- Marketing Teams\n- Content Creators\n- Social Media Managers\n- AI Automation Agencies",
        "height": 416,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1216,
        -352
      ],
      "typeVersion": 1,
      "id": "b22dc87f-6c4e-456f-85fb-33ead6764099",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Configure Your Niche\n\nUpdate only this node to customize the workflow.\n\n## Editable Fields\n\n- niche\n- keywords\n- language\n- region\n- maxResults\n\n## Example Keywords\n\n### AI Automation\n```text\n(\"agentic AI\" OR \"AI agents\" OR \"workflow automation\")\n```\n\n### Cybersecurity\n```text\n(cybersecurity OR ransomware OR \"data breach\")\n```\n\n### Cloud Computing\n```text\n(cloud OR AWS OR Azure)\n```\n\nNo other workflow changes are required.",
        "height": 432,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        -816
      ],
      "typeVersion": 1,
      "id": "508d25ee-b05a-40d2-93ca-73ab91027149",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Trend Selection Logic\n\nArticles are evaluated using:\n\n- Engagement potential\n- Industry relevance\n- Business impact\n- Content uniqueness\n\nThe highest-scoring trend is selected for AI content generation.",
        "height": 240,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        -624
      ],
      "typeVersion": 1,
      "id": "6bae4f4e-2eb4-43ed-a13d-51996a35d209",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Trend Collection\n\nThis node fetches the latest industry news from NewsAPI using the configuration defined in the **Configure Your Niche** node.\n\n## Output\n\n- News articles\n- Publication details\n- Source information\n\n## Requirements\n\n- Valid NewsAPI API Key",
        "height": 304,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -112
      ],
      "typeVersion": 1,
      "id": "cbc8a3f3-4227-4575-8c5c-eafb7008dad4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Draft Generation\n\nThe selected trend is transformed into a social media post draft.\n\n## Output\n\n- Google Document\n- Draft metadata\n- Review-ready content\n\nGenerated content is automatically inserted into the created Google Document.",
        "height": 272,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        768
      ],
      "typeVersion": 1,
      "id": "60c6889f-637e-4767-b0cb-4063b662a994",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Review Process\n\n```text\nPending\n   ↓\nApproved / Rejected\n```\n\n## If Approved\n\n- Draft Status → Pending\n- Draft Creation Workflow Starts\n\n## If Rejected\n\n- Draft Status → Rejected\n- Workflow Ends",
        "height": 352,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        784
      ],
      "typeVersion": 1,
      "id": "670ca5c0-241e-4200-ab92-ceb948f0453e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Google Sheet Status Mapping\n\n| Status | Draft Status |\n|----------|----------|\n| Pending | NotCreated |\n| Rejected | Rejected |\n| Approved | Blank |\n| Approved + Draft Created | Pending |\n| Email Approved | Approved |\n| Email Rejected | Rejected |\n\nThis mapping ensures accurate tracking of the content lifecycle.",
        "height": 304,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        480
      ],
      "typeVersion": 1,
      "id": "74ab82be-e062-4051-9e38-719f2d83fb47",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Troubleshooting\n\n## No Articles Returned\n\n- Verify NewsAPI key\n- Check keyword query\n- Verify API quota limits\n\n## Draft Not Generated\n\n- Verify Google Docs permissions\n- Check Google Docs credentials\n- Verify document creation node\n\n## Approval Not Updating\n\n- Verify Gmail credentials\n- Check approval email configuration\n- Verify workflow execution\n\n## Status Not Updating\n\n- Verify Google Sheet column names\n- Refresh Google Sheets node mappings\n- Check Google Sheets permissions",
        "height": 512,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        -480
      ],
      "typeVersion": 1,
      "id": "655e2bc8-a94d-4366-97f8-78003da34b20",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Configuration Node\n\nThis workflow is fully configurable through the **Configure Your Niche** node.\n\nTo adapt this workflow for a different industry, update:\n\n- niche\n- keywords\n- language\n- region\n- maxResults\n\nNo changes are required in the HTTP Request node or downstream workflow logic.",
        "height": 304,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -912
      ],
      "typeVersion": 1,
      "id": "3edd4cfb-f9f9-4297-b897-04468d39227a",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code (Clean + Metadata)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configure Your Niche",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Filter Weak Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Relevant Trends": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Score Trending Strength",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Trending Strength": {
      "main": [
        [
          {
            "node": "Select Top Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (Clean + Metadata)": {
      "main": [
        [
          {
            "node": "Filter Relevant Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Best Variant": {
      "main": [
        [
          {
            "node": "Code (format for sheet)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Weak Variants": {
      "main": [
        [
          {
            "node": "Select Best Variant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (format for sheet)": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Original": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Top Trends": {
      "main": [
        [
          {
            "node": "Preserve Original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Pick One Trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick One Trend": {
      "main": [
        [
          {
            "node": "Repurpose Trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Repurpose Trend",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Repurpose Trend",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Repurpose Trend": {
      "main": [
        [
          {
            "node": "Docs – Create Draft Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docs – Create Draft Document": {
      "main": [
        [
          {
            "node": "Docs – Insert Generated Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docs – Insert Generated Content": {
      "main": [
        [
          {
            "node": "Sheets – Save Draft Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets – Save Draft Metadata": {
      "main": [
        [
          {
            "node": "Approval – Send Review Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval – Send Review Email": {
      "main": [
        [
          {
            "node": "Sheets – Update Approval Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Your Niche": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "eba9f11b-389f-4e20-8487-988e17b2186e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a064eab1f268946bc007c4172b2fb6debef9dbda2a90313cc0c931db4dbf7e6"
  },
  "id": "6sowBZ7wt4n_TDO-PjINW",
  "tags": []
}